
<p>Disclaimer: For research purposes only</p>

<p>
The information, including but not limited to, text, graphics, images and other material contained on this website are for informational purposes only.
</p>

<p>
The purpose of the website is to experiment with modern technology, test skin abnormality machine learning algorithms, and promote broad consumer understanding and knowledge of various health topics. It is not intended to be a substitute for professional medical advice, diagnosis or treatment.
</p>

<p>
Always seek the advice of a physician or other qualified health care provider with any questions you may have regarding a medical condition or treatment and before undertaking a new health care regimen, and never disregard professional medical advice or delay in seeking it because of something you have gathered from the website.
</p>

<hr>
<p>
Thanks to ISIC providing three data sets: 

ISIC 2018 / ISIC 2019: According to the American Cancer Society, skin cancer is the most common form of cancer. While amenable to early detection by direct inspection, visual similarity with benign lesions makes the task difficult. Dermoscopic imaging was introduced to better visualize key details in skin lesions to improve diagnostic accuracy. The International Skin Imaging Collaboration (ISIC) has organized the world's largest repository of dermoscopic images of skin (over 23,000 images), to support research and development of methods for segmentation, clinical attribute detection, and disease classification. These datasets are snapshots used for the 2018 and 2019 challenges. See also: Challenge Summary / Data Description

SD-198: 6,584 consumer grade photographs of skin affected by 198 disease states. See also: Paper Reference / Author Website

Derm7pt: Over 2,000 dermoscopic and clinical images of skin lesions, with 7-point checklist criteria and disease diagnosis annotated.

</p>
<p>
7-point criteria dataset images thanks to J. Kawahara, S. Daneshvar, G. Argenziano, and G. Hamarneh, “Seven-Point Checklist and Skin Lesion Classification using Multitask Multimodal Neural Nets,” IEEE Journal of Biomedical and Health Informatics, vol. 23, no. 2, pp. 538–546, 2019.

images: contains all the images
meta: contains the meta-data and suggested indexes to use for training/validation/testing.
clinic/derm.html: shows all the clinical and dermoscopic images, respectively.
</p>
<hr>
<p>
Thanks to NTU Dataset from Nanyang Technological University Singapore
</p>
<p>
Xiaojie Li and Adams Kong, “A Multi-model Restoration Algorithm for Recovering Blood Vessels in Skin Images”, Image and Vision Computing, vol. 61, pp. 40-53, 2017

Nhat Quang Huynh, Xingpeng Xu, Adams Kong and Sathyan Subbiah, “A preliminary report on a full-body imaging system for effectively collecting and processing biometric traits of prisoners”, IEEE Symposium Series on Computational Intelligence, 2014.

Arfika Nurhudatiana and Adams Kong, "On Criminal Identification in Color Skin Images Using Skin Marks (RPPVSM) and Fusion with Vein Patterns", IEEE Transactions on Information Forensics and Security, vol. 10, no. 5, pp. 916-931, 2015

Frodo Kin Sun Chan, Adams Wai Kin Kong, "A further study of low resolution androgenic hair patterns as a soft biometric trait", In Image and Vision Computing, 2017, ISSN 0262-8856

Qingyong Xu, S. Ghosh, X. Xu, Yi Huang and A. W. K. Kong, "Tattoo detection based on CNN and remarks on the NIST database," 2016 International Conference on Biometrics (ICB), Halmstad, 2016, pp. 1-7.

Wojciech Michal Matkowski, Frodo Kin Sun Chan and Adams Wai Kin Kong. "A Study on Wrist Identification for Forensic Investigation." Image and Vision Computing, vol. 88, August 2019, pp 96-112. https://doi.org/10.1016/j.imavis.2019.05.005

Wojciech Michal Matkowski, Tingting Chai and Adams Wai Kin Kong. “Palmprint Recognition in Uncontrolled and Uncooperative Environment.” IEEE Transactions on Information Forensics and Security, October 2019, DOI: 10.1109/TIFS.2019.2945183.
</p>
<hr>
<p>
  Michael Feldman March 7, 2020
</p>
<p>Contact
  <a href="https://docs.google.com/forms/d/e/1FAIpQLSfnXgK7VSvSYkczVqRPid9khc-LXA_57obNtudSUlwYzhko9A/viewform">Mr. Googol</a>
</p>  






<hr>
<hr>
<hr>