.nav {
  border-bottom: 1px solid #E4E4E4;
  box-shadow: 0 0 4px rgba(0,0,0,.1), 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 0px;
  padding: 0 3vw;
  padding-right: 30px;

  .nav-item {
    color: gray;
    font-weight: normal;
    transition: color 0.3s ease;
    &:hover {
      font-color: #1c90f3;
    }
  }

.i {
    margin-right: 5px;}
.img {
    max-width: 50px;}

.button {
    display: block;
    margin-bottom: 3px}

.content {
    font-size: 0.9em;
    padding-right: 15px}



}

.horz-menu {
    background-color: #E8E9EC;
  }

  .github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}
@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0)
    }
    20%,
    60% {
        transform: rotate(-25deg)
    }
    40%,
    80% {
        transform: rotate(10deg)
    }
}
@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}